<div style="margin-top: 2.5%;">
    <span style="margin-left: 15%;"></span><!-- Di norma  <span style="margin-left: 25%;"></span> -->

<a class="a-nav" href="/" title="La home page del sito temporaneamente">
    <span class="nav-list-counter">00</span>&nbsp;&nbsp;<span class="nav-list">HOME</span>
</a>    


<a class="a-nav" href="/articoli/index.html" title="Le recensioni e gli articoli di Francesco Strazzacappa">
    <span class="nav-list-counter">01</span>&nbsp;&nbsp;<span class="nav-list">ARTICOLI</span>
</a>


<a class="a-nav" href="/contatti/index.html" title="Contatta Francesco Strazzacappa">
    <span class="nav-list-counter">02</span>&nbsp;&nbsp;<span class="nav-list">CONTATTI</span>
</a>


<a class="a-nav" href="/podcast/index.html" title="Il podcast di Francesco Strazzacappa">
    <span class="nav-list-counter">03</span>&nbsp;&nbsp;<span class="nav-list">PODCAST</span>
</a>


<a class="a-nav" href="/newsletter/index.html" title="Le notzie nella tua inbox">
    <span class="nav-list-counter">04</span>&nbsp;&nbsp;<span class="nav-list">NEWSLETTER</span>
</a>
</div>